{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'BSR/js/buttons.js' %}"></script>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>
{% endblock %}


{% block styles %}
    <link href="{% static 'BSR/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Tab navigation -->
    <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

        <li class="nav-item" >
            <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Einführung </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> Aufgabe </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> Verständnisfragen </a>
        </li>
    </ul>

<br>
<br>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">

<!-- Part 1 (no back button) -->
    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Einführung </h3>
        </div>
        <br>
        <div class="card">
            <p class="card-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis et libero et viverra. Fusce et lorem tortor. Donec blandit eleifend auctor. Nulla sed metus sit amet augue mollis faucibus. Maecenas at consequat lorem, vel varius lectus. In at sem ac lectus mollis pulvinar nec feugiat neque. Integer vel tincidunt nunc, vehicula maximus orci. </p>
        </div>

        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn next">Weiter</button>
    </div>

<!-- Part 2 -->
    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Aufgabe </h3>
        </div>
        <br>

        <div class="card">
            <p class="card-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis et libero et viverra. Fusce et lorem tortor. Donec blandit eleifend auctor. Nulla sed metus sit amet augue mollis faucibus. Maecenas at consequat lorem, vel varius lectus. In at sem ac lectus mollis pulvinar nec feugiat neque. Integer vel tincidunt nunc, vehicula maximus orci. </p>
        </div>

        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn back">Zurück</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn next">Weiter</button>
    </div>

<!-- Part 3 -->
    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">


        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Verständnisfragen </h3>
        </div>
        <br>

        <!-- <h5 class=" font-weight-bold mt-3 mb-3">Question 1</h5> {% formfields %} -->
        <form class="needs-validation" novalidate>

            <div class="col-md-4 mb-3">
                <label for="id_CQ2">Was ist das Ergebnis von 4+4?</label>
                <input type="number" class="form-control" required id="id_CQ2" placeholder="Ergebnis" required>
                <div class="valid-feedback">
                    Richtig!
                </div>
                <div class="invalid-feedback">
                    Falsch
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
        </form>


        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn back">Zurück</button>
        <button class="nexttab btn-outline-primary btn next">Weiter</button>
    </div>


</div>


{% endblock %}
