{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'Baillon/js/event_viz.js' %}"></script>
    <script src="{% static 'global/js/buttons.js' %}"></script>
{% endblock %}


{% block styles %}
{% endblock %}


{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

    <li class="nav-item" >
        <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Einführung </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> Beispiel</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> Regeln & Verdienst </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> Verständnisfragen </a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <!-- Part 1: Einführung (no back button) -->
    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title display-4">Einführung</h5>
            <h6 class="card-subtitle mb-5 text-muted">Baillon</h6>
            <p class="card-text">
                In dieser Aufgabe bekommen Sie zwei Lotterien vorgestellt. Die eine ist eine „klassische“ Lotterie, bei der
                ein virtueller Ball aus einer virtuellen Urne gezogen wird. Die andere Lotterie hängt vom Wetter an dem für
                Sie noch unbekannten Ort ab.
            </p>

            <p class="card-text">
                Die <em>klassische Lotterie</em> funktioniert wie folgt: Stellen Sie sich eine mit 100 Kugeln gefüllte Urne vor.
                Die Kugeln sind entweder grün oder rot gefärbt. Wird eine rote Kugel aus dieser Urne gezogen, gewinnen Sie
                nichts. Wird hingegen eine grüne Urne gezogen, gewinnen Sie 10 Euro.
                Nehmen wir an, dass 75 von 100 Kugeln grün gefärbt sind. Dann liegt die Wahrscheinlichkeit bei einer Ziehung
                10 Euro zu gewinnen bei 75%. Liegen nur 30 grüne Kugeln in der Urne, liegt die Wahrscheinlichkeit bei 30%.
            </p>

            <p class="card-text">
                Die wetterabhängige Lotterie funktioniert anders: Hier schätzen Sie die Temperatur an einem Ihnen noch
                unbekannten Ort zu einem Ihnen unbekannten Datum um 14:00 Uhr (MEZ). Die genaue Temperatur sowie den Ort
                und das Datum werden Sie am Ende der Umfrage erfahren.
                Vor ihrer Entscheidung erhalten Sie zunächst Informationen über die Temperaturen der  vorangegangenen Tage.
            </p>

            <p class="card-text">
                Ihre Schätzung basiert auf drei Temperaturbereichen, zum Beispiel:
            </p>
            <ul>
                <li>Die Temperatur beträgt mindestens 20°C</li>
                <li>Die Temperatur beträgt zwischen 14°C und 19,9°C</li>
                <li>Die Temperatur beträgt weniger als 14°C</li>
            </ul>
            <p class="card-text">
                In dieser Entscheidungssituation können Sie für die verschiedenen Temperaturbereiche wählen, ob Sie eher
                die klassische oder die wetterabhängige Lotterie bevorzugen.
                Genauer gesagt werden wir Sie fragen, <em>unter welchen Umständen</em> sie die klassische Lotterie gegenüber
                der wetterabhängigen Lotterie bevorzugen würden. Dafür werden wir Sie fragen, wie viele grüne
                Kugeln mindestens in der virtuellen Urne sein müssen, das heißt wie hoch die Gewinnwahrscheinlichkeit
                mindestens sein muss, damit Sie sich für die klassische und gegen die wetterabhängige Lotterie entscheiden.
            </p>
        </div>
    </div>
        <br><br>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn next float-right">Verstanden</button>
    </div>

    <!-- Part 2: Beispiel  -->
    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title display-4">Beispiel</h5>
                <h6 class="card-subtitle mb-5 text-muted">Baillon</h6>
                <p class="lead">
                    Ihre Entscheidungssituationn wird ungefähr wie folgt aussehen:
                </p>

                <div class="container clearfix border-left border-primary w-75 mb-3 bg-light">
                    <div class = "container">
                        <div class = "row" >
                            <!-- <div class = "card" > -->
                                <table class = "table table-condensed">

                                    <colgroup>
                                        <col span="1" style="width: 50%;">
                                        <col span="1" style="width: 10%;">
                                        <col span="1" style="width: 10%;">
                                        <col span="1" style="width: 30%;">
                                    </colgroup>

                                    <thead>
                                    <tr class = "header">
                                        <th class = "payment-th" style = "border-right: 2px solid #dee2e6;" colspan = "2">
                                            Wetterabhängige Lotterie
                                        </th>
                                        <th class = "payment-th" colspan = "2">
                                            Klassische Lotterie
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                        <tr>
                                            <td colspan="2" style = "border-right: 2px solid #dee2e6;">
                                                <p id="subHeader">
                                                    <em>Sie gewinnen 10 Euro entsprechend der unten dargestellten Grafik (und sonst nichts).</em>
                                                </p>
                                            </td>
                                            <td colspan="2">
                                                <p>
                                                    <em>Sie gewinnen 10 Euro mit der folgenden Wahrscheinlichkeit (und sonst nichts).</em>
                                                </p>
                                            </td>
                                        </tr>

                                        {% for i,f,p in choices %}
                                            <tr>
                                                <!-- Lottery with visualization -->
                                                {% if i == 1 %}
                                                <td class="lottery" rowspan="{{ num_choices }}">

                                                    <figure class="highcharts-figure">
                                                        <div id="container"></div>
                                                    </figure>

                                                </td>
                                                {% endif %}

                                                <!-- radio select form fields -->
                                                {% if p < 40 %}
                                                    <td class="formfield" style="border-right: 2px solid #dee2e6;">
                                                        <input type="radio" name="{{ f }}" id="{{ p }}" value="A" disabled checked> <!-- enter disabled attribute here if needed-->
                                                    </td>
                                                    <td class="formfield">
                                                        <input type="radio" name="{{ f }}" id="{{ p }}" value="B" disabled>
                                                    </td>
                                                {% else %}
                                                    <td class="formfield" style="border-right: 2px solid #dee2e6;">
                                                        <input type="radio" name="{{ f }}" id="{{ p }}" value="A" disabled> <!-- enter disabled attribute here if needed-->
                                                    </td>
                                                    <td class="formfield">
                                                        <input type="radio" name="{{ f }}" id="{{ p }}" value="B" disabled checked>
                                                    </td>
                                                {% endif%}

                                                <!-- Safe Payments -->
                                                <td class="safe-payment">
                                                    {{ p }}%
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

                <p>
                    Im Wesentlichen zeigen wir Ihnen eine Tabelle mit zwei Spalten. Die linke Spalte steht für die
                    wetterabhängige Lotterie und die rechte Spalte für die klassische Lotterie. Die Zeilen der Tabelle geben an,
                    wie viele grüne Kugeln sich in der virtuellen Urne befinden bzw. wie groß die Gewinnwahrscheinlichkeit ist.
                    Sie müssen also für jede Gewinnwahrscheinlichkeit entscheiden, ob Sie die wetterabhängige oder die klassische
                    Lotterie bevorzugen.
                </p>

                <hr class="my-2 mb-5">

                <p class="card-text">
                    Stellen Sie sich vor, dass die Wahrscheinlichkeit 0%  ist (0 der 100 Kugeln in der virtuellen Urne sind grün).
                    Das heißt, dass Sie keine Chance 10 Euro zu gewinnen, wenn Sie sich für die klassischen Lotterie entscheiden.
                    Dementsprechend würden Sie vermutlich die wetterabhängie Lotterie bevorzugen und (wie im Beispiel oben) in
                    der ersten Zeile das linke Feld auswählen.
                </p>

                <p class="card-text">
                    Andersherum würden Sie die klassische Lotterie der wetterabhängigen Lotterie in der letzten Zeile vorziehen,
                    weil die Gewinnwahrscheinlichkeit dort 100% beträgt. Wenn also eine Kugel aus der virtuellen Urne gezogen
                    werden sollte, dann wäre Sie mit sicherheit grün und Ihr Gewinn beträge 10 Euro.
                </p>
            </div>
        </div>
        <br><br>
        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn">Zurück</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn float-right">Verstanden</button>
    </div>

    <!-- Part 3: Verdienst -->
    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title display-4">Regeln & Verdienst</h5>
            <h6 class="card-subtitle mb-5 text-muted">Multipe Point Prediction</h6>

            <p class="lead">
                Ablauf
            </p>

            <p>
                Dieser Frageblock besteht aus innsgesamt sechs Entscheidungssituation, die dem Beispiel oben ähneln. Diese
                sechs Entscheidungssituationen unterscheiden sich nur hinsichtlich der wetterabhängigen Lotterie. Oben im
                Beispiel kann man 10 Euro gewinnen, wenn die Temperatur mindestens 20°C beträgt. Darüber hinaus würden wir
                Sie noch fragen, welche Lotterie Sie bevorzugen würden, Wenn sie in der wetterabhängigen Lotterie gewinnen
                würden, falls die Temperatur
                <ul>
                    <li>weniger als 14°C beträgt</li>
                    <li>zwischen 14 und 20°C beträgt</li>
                    <li>weniger als 20°C beträgt</li>
                    <li>mindestens 14°C beträgt</li>
                    <li>weniger als 14°C oder mindestens 20° beträgt</li>
                </ul>
            </p>

            <hr class="my-4 w-75">

            <p class="lead">
                Auszahlung
            </p>

            <p>
                Sobald Sie die Umfrage abgeschlossen haben, wird eine Ihrer Entscheidungen ausgezahlt, die zufällig
                ausgewählt wird. Wenn zufällig eine Entscheidungssituation dieses Abschnittes der Umfrage ausgewählt wird,
                wird gleichzeitig auch eine zufällige Zeile, d.h. eine der angegebenen Wahrscheinlichkeiten, ausgewählt.
            </p>
            <p>
                Zum Beispiel liegt die Entscheidung in der Zeile zwischen der wetterabhängigen Lotterie (10 Euro bei weniger
                als 14°C) und der klassischen Lotterie (Gewinnwahrscheinlichkeit: 70 Prozent).
            </p>
            <p>
                Wenn Sie sich in dieser Zeile für die klassische Lotterie (mit der Gewinnwahrscheinlichkeit 70 Prozent)
                entschieden haben, wird ihre Auszahlung darüber bestimmt, ob ein grüner Ball gezogen wird (10 Euro) oder
                eben nicht (0 Euro).
            </p>
            <p>
                Wenn Sie sich in dieser Zeile für die wetterabhängige Lotterie entschieden haben, wird ihre Auszahlung
                darüber bestimmt, ob die gemessene Temperatur tatsächlich niedriger als 14°C betrug (10 Euro) oder
                ob sie höher war (0 Euro).
            </p>
        </div>
    </div>
        <br><br>
        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn ">Zurück</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn float-right">Verstanden</button>
    </div>

    <!-- Part 4: Verständnisfragen -->
    <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part3-tab">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title display-4">Verständnisfragen</h5>
            <h6 class="card-subtitle mb-5 text-muted">Multipe Point Prediction</h6>
            <p>
                ....
            </p>
        </div>
    </div>
        <br><br>
        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn ">Zurück</button>
        <button class="nexttab btn-outline-primary btn float-right">Los geht's</button>
    </div>

</div>



{% endblock %}