{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
{% endblock %}

{% block scripts %}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'global/js/weather_viz.js' %}"></script>
    <script src="{% static 'Baillon/js/single_click.js' %}"></script>
    <script src="{% static 'Baillon/js/event_viz.js' %}"></script>
{% endblock %}

{% block content %}
<!--
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="25" style="width: 25%" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="5" style="width: 5%" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
-->

<body onload="fillText()">

{% if player.round_number == 1 %}
<div class="alert alert-primary alert-dismissible fade show mb-5" role="alert">
    Sie müssen nicht in allen {{ num_choices }} Zeilen eine Auswahl treffen. Wenn Sie in einer bestimmten Zeile die klassische
    Lotterie wählen, dann wird Ihre Auswahl in allen folgenden Zeilen automatisch die klassische Lotterie und in
    allen vorhergehenden Zeilen die wetterabhängige Lotterie sein. Sie müssen also nur auswählen, ab welcher
    Zeile Sie die klassische Lotterie bevorzugen.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if player.round_number > 1 %}
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Wetterdaten ein-/ausblenden
    </button>
    <br><br>
{% endif %}

{% if player.round_number > 1 %}
<div class="collapse" id="collapseExample">
{% endif %}
    <div class="card">
        <div class="card-body">
            {% if treatment_displayed == "True" %}
                <div class="alert alert-success" role="alert">
                    Bitte beachten Sie, dass die Grafik nun auch eine Wettervorhersage enthält.
                </div>
            {% else %}
                <p class="card-text">
                    Die Temperaturen
                    <a style="color:#5DE58E">zwischen Mittwoch und Freitag (also im grün gefärbten Bereich)</a>
                    betrugen jeweils um 14:00 Uhr (MEZ)<sup>1</sup>
                    <span id="report0"></span>°C, <span id="report1"></span>°C bzw. <span id="report2"></span>°C.
                </p>
            {% endif %}
            <p class="card-text">
                Ohne zu wissen, auf welchen Ort und Zeitpunkt sich das oben dargestellte Wetter bezieht,
                müssen Sie für die folgenden Aufgaben abschätzen, welche Temperaturbereiche Sie 9 Tage später,
                <a style="color:#C582FF">am Sonntag (also im lila gefärbten Bereich)</a>,
                am selben Ort und zur gleichen Tageszeit für wahrscheinlich halten.
            </p>

            <figure class="highcharts-figure">
                <div id="weather_viz"></div>
            </figure>
        </div>
    </div>
    <br>

{% if player.round_number > 1 %}
</div>
{% endif %}

<div class="card">
    <div class="card-body">

        <h1 class="display-4 mb-4"> Ihre Entscheidung:</h1>

        <div class = "container">
            <div class = "row" >
                <table class = "table table-condensed">

                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 30%;">
                    </colgroup>

                    <thead>
                    <tr class = "header">
                        <th class = "payment-th" style = "border-right: 2px solid #dee2e6;" colspan = "2">
                            Wetterabhängige Lotterie
                        </th>
                        <th class = "payment-th" colspan = "2">
                            Klassische Lotterie
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td colspan="2" style = "border-right: 2px solid #dee2e6;">
                                <p id="subHeader">
                                    <em>Sie gewinnen 10 Euro entsprechend der unten dargestellten Grafik (und sonst nichts).</em>
                                </p>
                            </td>
                            <td colspan="2">
                                <p>
                                    <em>Sie gewinnen 10 Euro mit der folgenden Wahrscheinlichkeit (und sonst nichts).</em>
                                </p>
                            </td>
                        </tr>

                        {% for i,f,p in choices %}
                            <tr>
                                <!-- Lottery with visualization -->
                                {% if i == 1 %}
                                <td class="lottery" rowspan="{{ num_choices }}">

                                    <figure class="highcharts-figure" style="vertical-align: baseline; display: table-cell">
                                        <div class="event_viz"></div>
                                    </figure>

                                </td>
                                {% endif %}

                                <!-- radio select form fields -->
                                <td class="formfield" style="border-right: 2px solid #dee2e6;">
                                    <input type="radio" name="{{ f }}" id="{{ p }}" value="A" required> <!-- enter disabled attribute here if needed-->
                                </td>
                                <td class="formfield">
                                    <input type="radio" name="{{ f }}" id="{{ p }}" value="B"required>
                                </td>

                                <!-- Safe Payments -->
                                <td class="safe-payment">
                                    {{ p }}% <br/>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br><br>

<!-- Weather Forecast Viz Modal
    <div class="modal fade" id="weatherModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="backdrop-filter: blur(10px);">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Wetterbericht</h5>
          </div>
          <div class="modal-body">
            <figure class="highcharts-figure">
                <div id="weather_viz"></div>
            </figure>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-outline-primary btn" data-dismiss="modal">Wetterbericht ausblenden</button>
          </div>
        </div>
      </div>
    </div>
-->
{% if player.round_number == 1 %}
    <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
        Sie können nicht mehr zu einer Frage zurückkehren, sobald Sie auf die Schaltfläche "Weiter" geklickt haben.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}


<!-- Button trigger modal
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#weatherModal">
      Wetterbericht einblenden
    </button>
-->
<!-- Next Button -->
    <button id="Baillon_next" class="btn-outline-success btn float-right">
        Absenden
    </button>

</body>
{% endblock %}
