{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Wettervorhersage
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'Baillon/js/weather_viz.js' %}"></script>
{% endblock %}

{% block content %}

<body onload="fillText()">

    <br><br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Vorhersage</h5>
            <h6 class="card-subtitle mb-2 text-muted">Subtitle</h6>
            <figure class="highcharts-figure">
                <div id="weather_viz"></div>
            </figure>
            <p class="card-text">Wie eben bereits datgestellt betrugen die Temperaturen
                <a style="color:#5DE58E">zwischen Mittwoch und Freitag (also im grün gefärbten Bereich)</a>
                jeweils um 14:00 Uhr
                <span id="report0"></span>°C, <span id="report1"></span>°C bzw. <span id="report2"></span>°C.
            </p>
            <p class="card-text">Sie wissen zwar noch immer nicht auf welchen Ort und Zeitpunkt sich das oben dargestellte
                Wetter bezieht, bekommen aber eine reale Wettervorhersage für
                <a style="color:#C582FF">den Sonntag (also den lila gefärbten Bereich)</a> angezeigt. Wie eben müssen Sie
                für die folgenden Aufgaben abschätzen, welche Temperaturbereiche Sie über eine Woche später,
                an dem Sonntag am selben Ort und zur gleichen Tageszeit für Wahrscheinlich halten.
            </p>
            <p class="card-text">Am Ende der Studie werden wir sowohl den Ort, als auch das entsprechende Datum sowie die
                Quelle und die am Sonntag eingetretene Temperatur preisgeben.
            </p>
        </div>
    </div>

    <br><br>

    <button id="BSR_next" class="btn-outline-primary btn float-right">
        Weiter
    </button>

</body>

{% endblock %}
