{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
+{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<body>
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title display-4">Demographic Questions</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Subtitle.
            </h6>

            <p class="card-text">
                Text
            </p>

            {% formfields %}

            <br>

            <div class="row justify-content-center">
                <button type="submit" class="btn my-warning ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                    Absenden
                </button>
            </div>

        </div>
    </div>

</body>
{% endblock %}


