{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
{% endblock %}




{% block content %}
<body>
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>


<br><br>

    <div class="jumbotron bg-white border border-ligh">
        <h1 class="card-title display-2 mb-1">
            Willkommen!
        </h1>
        <p class="lead">Vielen Dank, dass Sie an dieser Umfrage teilnehmen.</p>
        <hr class="my-4">
        <!--
        <p>
            Diese Umfrage ist Teil eines Forschungsprojektes der Universität Hamburg und wird Sie mit verschiedenen
            Entscheidungen konfrontieren.
        </p>
        -->
        <p>
            In dieser Studie können Sie Geld verdienen indem Sie Schätzungen zum Wetter abgeben. Je besser Sie schätzen,
            desto wahrscheinlicher ist es, dass Sie zusätzlich zu einem festen Betrag von {{ participation_fee }}
            weitere 10 € verdienen.
        </p>
        <p>
            Für diese Schätzungen benötigen Sie weder besondere Vorkenntnisse noch Ortskenntnisse. Im Laufe der Studie
            erklären wir Ihnen alles was Sie wissen müssen. Während der gesamten Studie geben Sie Schätzungen zu
            ein und demselben Wettergeschehen ab &mdash; also immer zum gleichen Ort und Datum. Den Ort und das genaue Datum
            werden wir Ihnen erst am Ende der Studie nennen.
        </p>
        <small>
            Wir bitten Sie, sich auf die Umfrage zu konzentrieren und diese in einem Anlauf an einem PC oder Laptop zu
            beantworten. Die Umfrage ist für die Beantwortung an einem PC oder Laptop optimiert und wird ungefähr <b>X</b>
            Minuten in Anspruch nehmen. <br><br>
        </small>

        <div class="row justify-content-md-center align-items-end mt-5">
            <button class="btn my-warning btn-lg" role="button">Studie beginnen</button>
        </div>

    </div>


</body>
{% endblock %}
