{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
{% endblock %}


{% block styles %}
{% endblock %}

{% block content %}

<br><br>

    <div class="jumbotron">
        <h1 class="card-title display-2 mb-1">
            Willkommen!
        </h1>
        <p class="lead">Vielen Dank, dass Sie an dieser Umfrage teilnehmen.</p>
        <hr class="my-4">
        <!--
        <p>
            Diese Umfrage ist Teil eines Forschungsprojektes der Universität Hamburg und wird Sie mit verschiedenen
            Entscheidungen konfrontieren.
        </p>
        -->
        <p>
            Wenn Sie die folgenden Instruktionen aufmerksam lesen und alle Regeln beachten, können Sie in dieser Umfrage
            Geld verdienen. Wie viel Sie genau verdienen hängt von Ihren Entscheidungen ab. Das Geld wird Ihnen im
            Anschluss an die Umfrage überwiesen und wird sich innerhalb der nächsten X Werktage auf Ihrem Konto befinden.
        </p>
        <p>
            Wir bitten Sie, sich auf die Umfrage zu konzentrieren und diese in einem Anlauf an einem PC oder Laptop zu
            beantworten. Die Umfrage ist für die Beantwortung an einem PC oder Laptop optimiert und wird ungefähr <b>X</b>
            Minuten in Anspruch nehmen. <br><br>
        </p>
        <button class="btn btn-primary btn-lg" role="button">Umfrage starten</button>
    </div>



{% endblock %}
