{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}

{% endblock %}


{% block styles %}
{% endblock %}

{% block content %}

<br><br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title display-4">Überblick</h5>
        <h6 class="card-subtitle mb-2 text-muted">Aufbau dieser Umfrage</h6>
        <br>
        <p class="lead">
            In dieser Umfrage bitten wir Sie Temperaturen zu schätzen. Dafür zeigen wir Ihnen einen Wetterbericht zu einem
            bestimmten Zeitpunkt an einem bestimmten Ort. Welchen Ort und Zeitpunkt der Wetterbericht betrifft, erfahren
            Sie aber erst am Ende der Umfrage. Bis dahin wissen Sie weder aus welchem Jahr der Wetterbericht stammt noch aus
            welcher Stadt oder welchem Land dieser stammt.
        </p>
        <br>
        <p class="card-text">
            Mit diesen Informationen müssen Sie dann Fragen beantworten, die sich in zwei Blöcke gliedern lassen. All diese
            Fragen beziehen Sich auf das von Ihnen zu schätzende Wettergeschehen. Nachdem Sie die beiden Frageblöcke
            beantwortet haben, zeigen wir Ihnen zusätzlich zu dem bekannten Wetterbericht auch eine Wettervorhersage.
            Im Anschluss durchlaufen Sie die beiden Frageblöcke dann noch einnmal.
        </p>
        <p class="card-text">
            Bei der Beantwortung der Fragen können Sie Geld gewinnen. Dabei gilt grundsätzlich, dass Ihre Chance Geld zu
            gewinnen steigt, je besser Sie die Temperatur einschätzen. Wie genau sich Ihre Antworten auf Ihre Gewinnchancen
            auswirken, erklären wir Ihnen vor den beiden Frageblöcken im Detail. An dieser Stelle müssen Sie nur wissen,
            dass am Ende einer der Frageblöcke zufällig ausgewählt wird, um Ihren Gewinn zu bestimmen &mdash; Sie wissen
            vorab aber nicht, welcher Frageblock es sein wird.
        </p>
        <p class="card-text">
            Am Ende der Umfrage erfahren Sie dann auf welchen Ort und Zeitpunkt sich der Wetterbericht bezieht, welche
            Temperatur eingetreten ist, welcher Frageblock für Ihren Gewinn entscheidend ist und schließlich, was Sie in
            dieser Umfrage gewinnen.
        </p>
        <br>
        <p class="lead">
            Zusammenfassung
        </p>
        <ul>
            <li>Bei der Beantwortung dieser Umfrage können Sie Geld gewinnen</li>
            <li>Dafür müssen Sie eine Wettersituation abschätzen und Fragen beantworten</li>
            <li>Die Fragen lassen sich in zwei Frageblöcke gliedern</li>
            <li>Bevor Sie die Frageblöcke zum ersten Mal beantworten, zeigen wir Ihnen einen Wetterbericht</li>
            <li>Nachdem Sie die Frageblöcke zum ersten Mal beantwortet haben, zeigen wir Ihnen eine Wettervorhersage</li>
            <li>Danach beantworten Sie die beiden Frageblöcke ein zweites Mal</li>
            <li>Nur ein am Ende zufällig ausgewählter Frageblock wird schließlich Ihren Gewinn bestimmen</li>
            <li>Zum Schluss erfahren Sie alle Informationen zum Wetter, Ihrer Schätzung und Ihrem Gewinn</li>
        </ul>
    </div>
</div>



<!--

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'initialize/images/placeHolder.png' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-light bg-dark">Title</h5>
                    <p class="text-light bg-dark">
                        8-bit roof party palo santo, pitchfork blue bottle vegan freegan keffiyeh subway tile
                        jianbing hot chicken PBR&B tattooed art party. Palo santo intelligentsia pour-over,
                        live-edge vegan distillery flexitarian whatever godard polaroid cray celiac. VHS tumblr
                        neutra, brooklyn tilde vape 90's. Chillwave helvetica beard kickstarter. Gluten-free
                        readymade yr, poutine mlkshk gentrify twee you probably haven't heard of them tilde health
                        goth blue bottle chambray edison bulb shaman.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'initialize/images/placeHolder.png' %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-dark">Title</h5>
                    <p class="text-dark text-center">
                        8-bit roof party palo santo, pitchfork blue bottle vegan freegan keffiyeh subway tile
                        jianbing hot chicken PBR&B tattooed art party. Palo santo intelligentsia pour-over,
                        live-edge vegan distillery flexitarian whatever godard polaroid cray celiac. VHS tumblr
                        neutra, brooklyn tilde vape 90's. Chillwave helvetica beard kickstarter. Gluten-free
                        readymade yr, poutine mlkshk gentrify twee you probably haven't heard of them tilde health
                        goth blue bottle chambray edison bulb shaman.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'initialize/images/placeHolder.png' %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-light">Title</h5>
                    <p class="text-light">
                        8-bit roof party palo santo, pitchfork blue bottle vegan freegan keffiyeh subway tile
                        jianbing hot chicken PBR&B tattooed art party. Palo santo intelligentsia pour-over,
                        live-edge vegan distillery flexitarian whatever godard polaroid cray celiac. VHS tumblr
                        neutra, brooklyn tilde vape 90's. Chillwave helvetica beard kickstarter. Gluten-free
                        readymade yr, poutine mlkshk gentrify twee you probably haven't heard of them tilde health
                        goth blue bottle chambray edison bulb shaman.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<br><br>
-->

<br><br>

    <button id="initialize_next" class="btn-primary btn float-right">
        Los geht's!
    </button>


{% endblock %}
