{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/treatment_text.js' %}"></script>
{% endblock %}

{% block content %}
<body onload="fillText()">
<img src="{% static 'global/images/cool-background.svg' %}" id="bg" alt=""/>

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title display-4">Abschließende Fragen</h5>
            <div class="progress" style="height:10px">
                <div class="progress-bar bg-secondary" role="progressbar" style="height:10px; width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar" style="height:10px; width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Seite 3</div>
            </div>
            <h5 class="card-title display-4"></h5>
            <h6 class="card-subtitle mb-5 text-muted">

            </h6>
            <p class="lead">
                Bitte bewerten Sie die Aussage: <br>
            </p>

            <div class="container clearfix displaystyle-leftborder displaystyle-my-warning w-75 mb-5 bg-light">
                <p><em>Experten haben am Freitag eine Vorhersage für den Sonntag 9 Tage später getroffen:</em></p>
                <p><span id="forecastText" class=""></span></p>
            </div>

            <table class="table w-75">
                <colgroup>
                   <col span="1" style="width: 50%;">
                   <col span="1" style="width: 8%;">
                   <col span="1" style="width: 8%;">
                   <col span="1" style="width: 8%;">
                   <col span="1" style="width: 8%;">
                   <col span="1" style="width: 8%;">
                </colgroup>
                <tr>
                    <td></td>
                    <td colspan="2"><small>trifft überhaupt nicht zu</small></td>
                    <td></td>
                    <td colspan="2" class="text-right"><small>trifft voll und ganz zu</small></td>
                </tr>
                {% for field in form %}
                    <tr>
                        <th>{{ field.label }}</th>
                        {% for choice in choices %}
                            <td>
                                <input type="radio" name="{{field.name}}" value="{{choice}}" id="id_{{field.name}}_{{choice}}" required="" class="form-check-input" style="margin: 0; display: block; text-align: right;">
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <br>

            <div class="row justify-content-center mb-3">
                <button class="btn btn-primary" type="submit" style="border-radius: 40px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                    Absenden
                </button>
            </div>

        </div>
    </div>

</body>
{% endblock %}


