{{ block styles }}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{{ endblock }}

{{ block scripts }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/pattern-fill.js"></script>
    <script src="https://code.highcharts.com/modules/broken-axis.js"></script>

    <script src="{% static 'global/js/basics.js' %}"></script>
    <script src="{% static 'global/js/weather_viz.js' %}"></script>
    {% if subsession.round_number == 1 %}
        <script src="{% static 'global/js/trigger_modal.js' %}"></script>
    {% endif %}
    {% if subsession.round_number == 7 %}
        <script src="{% static 'global/js/trigger_modal.js' %}"></script>
    {% endif %}
    <script src="{% static 'global/js/event_bar.js' %}"></script>
    <script src="{% static 'global/js/lottery_viz.js' %}"></script>
    <script src="{% static 'global/js/count_clicks.js' %}"></script>
    <script src="{% static 'global/js/scroll_input.js' %}"></script>
{{ endblock }}

{{ block content }}

<!-- Background -->
<body class="bg-light.bg-gradient" onload="fillText();">
<img src="https://github.githubassets.com/images/modules/site/actions/hero-bg.jpg" id="bg" alt="" style="z-index: -1; position: fixed; left: 30; opacity: 0.90;">


<!-- Hidden tracking Fields -->
<input type="hidden" name="review_weather" id="id_review_weather" value="0"/>
<input type="hidden" name="review_instructions" id="id_review_instructions" value="0"/>


<!-- Header -->
<nav class="navbar sticky-top mb-4 justify-content-between">
    <h5>
        <span class="badge rounded-pill mt-4 bg-dark shadow" data-toggle="tooltip" data-placement="bottom" title="Round {{ player.round_number }}">
            Round {{ player.round_number }}
        </span>
    </h5>
    <div style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-thermometer-half" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modalWeather" aria-controls="modalWeather" id="weather_icon">
            <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"/>
            <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-info-circle-fill" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasInstructions" aria-controls="offcanvasInstructions" id="instructions_icon">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-x-circle ms-2" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasQuit" aria-controls="offcanvasQuit" id="quitButton">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
</nav>

<!-- Decision Card -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">

            <div class="card mt-5 shadow-lg">
                <div class="card-header bg-white shadow-sm mt-1 sticky-top">
                    <p>
                        How many green balls must be in the lottery pot at least for you to prefer the lottery?
                    </p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <h4>Bet</h4>
                                <p class="card-text mb-3 lead" id="subHeader">
                                    <small>You win 10 euros according to the graphic below (and nothing otherwise).</small>
                                </p>
                            </div>

                            <div class="col-sm bg-light rounded-top">
                                <h4>Lottery</h4>
                                <p class="card-text mb-3 lead">
                                    <small>You win 10 euros if a green ball is drawn (and nothing otherwise).</small>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <small mb-4>
                                    The bet refers to the same weather situation and time of day (9 days later), that
                                    was just presented to you. If you desire, you can look at it again
                                    <a data-bs-toggle="modal" data-bs-target="#modalWeather" id="weather_text" style="cursor: pointer;"><u>here</u></a>
                                    . <br><br><br>
                                </small>
                            </div>

                            <div class="col-sm bg-light">
                                <small>
                                    There are a total of 100 balls in the lottery pot, which are either green or red.
                                    With your decision you determine the fraction of green balls.
                                </small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <figure class="highcharts-figure">
                                    <div class="event_bar"></div>
                                </figure>
                            </div>

                            <div class="col-sm bg-light">
                                <figure class="highcharts-figure">
                                    <div class="pieChart"></div>
                                    <p class="highcharts-description">
                                    </p>
                                </figure>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                            </div>
                            <div class="col-sm bg-light rounded-bottom">
                                <div class="row justify-content-center">
                                    <small class="form-text mt-4 pl-3 pr-3 mb-4">
                                        How many green balls must be <u>at least</u> in the lottery pot for you to
                                        prefer the lottery just so prefer?
                                    </small>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control mb-1 shadow-sm bg-white" id="id_matching_probability" name="matching_probability" min="0" max="101" required>
                                    <label for="id_matching_probability">green balls in the lottery pot</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="collapseSubmit" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="row justify-content-center mt-4 mb-2">
                            <div class="form-check justify-content-center w-75">
                                {% if player.round_number == 1 %}
                                <input type="checkbox" class="form-check-input" id="submitCheck" required>
                                {% else %}
                                <input type="checkbox" class="form-check-input" id="submitCheck" required checked>
                                {% endif %}
                                <label class="form-check-label" for="submitCheck" id="submitCheckLabel">
                                    <small>Yes, I prefer the lottery.</small>
                                </label>
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <button class="btn btn-primary justify-content-center w-25 shadow" type="submit" id="submitButton" disabled style="border-radius: 40px;">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Weather Modal -->
<div class="modal fade bd-example-modal-lg" id="modalWeather" tabindex="-1" role="dialog" aria-labelledby="modalWeatherLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalWeatherLabel">
                    Weather
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if treatment_displayed %}
                <div class="alert alert-success" role="alert">
                    <p>Experts made a forecast for Sunday <u>9 days later</u> 14:00 (CET) on Friday:</p>
                    <strong><span id="forecastText"></span></strong>
                </div>
                {% endif %}

                <figure class="highcharts-figure">
                    <div id="weather_viz"></div>
                </figure>

                <p>
                    Temperatures were 12°C <small>(at 14:00)</small> between Wednesday and Friday.
                </p>

                <p class="card-text">
                    Without knowing what location and time the weather shown above refers to, the following tasks
                    require you to estimate what temperature ranges you think are likely to occur
                    on Sunday <u>9 days later</u>
                    {% if treatment_displayed %}
                    <a style="color:#A6219D">(i.e., in the purple shaded area)</a>
                    {% endif %}
                    at the same location and time of day.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Instructions Offcanvas -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasInstructions" aria-labelledby="offcanvasInstructions">
    <div class="offcanvas-header">
        <!-- Card's Tab Navigation -->
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">

            <li class="nav-item" >
                <a class="nav-link back-and-forth active" id="part1-tab" data-bs-toggle="tab" href="#part1" role="tab" aria-controls="part1"> General </a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part2-tab" data-bs-toggle="tab" href="#part2" role="tab" aria-controls="part2"> Earnings </a>
            </li>

            <li class="nav-item">
                <a class="nav-link back-and-forth" id="part3-tab" data-bs-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Weather </a>
            </li>
        </ul>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="tab-content" id="myTabContent">
            <!-- Part 1: Allgemeines -->
            {{ include Constants.GENERAL_TEMPLATE }}


            <!-- Part 2: Verdienst  -->
            {{ include Constants.EARNINGS_TEMPLATE }}


            <!-- Part 3: Wetter -->
            {{ include Constants.WEATHER_TEMPLATE }}
        </div>
    </div>
</div>

<!-- Quit Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasQuit" aria-labelledby="offcanvasQuitLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasQuitLabel">Quit study</h5>
    </div>
    <div class="offcanvas-body">
        <div>
            If you intend to leave the study, click on the button.
            <br><br>
            If not, click right next to this text field.
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-danger m-5" href="{{redirect}}" role="button" style="border-radius: 40px;">
                Quit
            </a>
        </div>
    </div>
</div>


</body>

{{ endblock }}
