{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Binarized Scoring Rule
{% endblock %}

{% block styles %}
    <link href="{% static 'BSR/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'BSR/css/highcharts.css' %}" rel="stylesheet">
    <link href="{% static 'BSR/css/table.css' %}" rel="stylesheet">
    <link href="{% static 'BSR/css/modal.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'BSR/js/weather_viz.js' %}"></script>
    <script src="{% static 'BSR/js/modal.js' %}"></script>
    <script src="{% static 'BSR/js/calculate.js' %}"></script>
{% endblock %}

{% block content %}

    <!-- Trigger/Open The Modal
    <button id="myBtn" type="button">Open Modal</button> -->

<!-- The more than 100 Error Modal -->
    <div id="errorModal" class="modal" style="backdrop-filter: blur(10px);">
      <!-- Modal content -->
      <div class="card mx-auto text-white bg-danger mb-3 w-50">
          <h5 class="card-header">Vorsicht</h5>
          <div class="card-body">
              <p class="card-text">Die Summe der von Ihnen eingegebenen Wahrscheinlichkeiten darf 100% nicht überschreiten.</p>
              <button id="closeError" type="button" class="btn-outline-light btn">
              Fehlermeldung ausblenden
              </button>
          </div>
      </div>
    </div>

<!-- The less than 100 Warning Modal -->
    <div id="warningModal" class="modal" style="backdrop-filter: blur(10px);">
      <!-- Modal content -->
      <div class="card mx-auto bg-warning mb-3 w-50">
          <h5 class="card-header">Vorsicht</h5>
          <div class="card-body">
              <p class="card-text">Sie erhöhen Ihre Gewinnchance, wenn die Summe der von Ihnen eingegebenen Wahrscheinlichkeiten 100% ergibt.</p>
              <button id="closeWarning" type="button" class="btn-outline-dark btn">
              Warnung ausblenden
              </button>
          </div>
      </div>
    </div>

<!-- The Instructions Modal -->
    <div id="instructionsModal" class="modal" style="backdrop-filter: blur(10px);">
      <!-- Modal content -->
      <div class="card mx-auto text-white bg-dark mb-3 w-50">
          <h5 class="card-header">Ihre Aufgabe kurz Zusammengefasst</h5>
          <div class="card-body">
              <ol class="card-text">
            <li>
                In dieser Aufgabe bitten wir Sie darum zu schätzen, für wie wahrscheinlich Sie es halten, dass eine bestimmte Temperatur eintritt.
                Wenn Sie sich sicher sind, dass eine bestimmte Temperatur eintritt, geben Sie für diese Temperatur eine "100" für 100% sein.
                Wenn Sie eine bestimmte Temperatur ausschließen, das heißt, wenn Sie sich sicher sind dass eine bestimmte Temperatur nicht eintritt,
                geben sie eine "0" ein.
            </li>
            <li>
                Wenn Sie zwei Temperaturen für gleich wahrscheinlich halten, geben Sie jeweils eine "50" ein.
                Beachten Sie, dass sie in Summe nicht mehr als 100% verteilen können. Wie und auf wie viele Temperaturen Sie diese 100% verteilen
                bleibt ganz Ihnen überlassen.
            </li>
            <li>
                Zusätzlich zu Ihrer Schätzung zeigen wir Ihnen eine Gewinnwahrscheinlichkeit an. Diese gibt für jede dargestellte Temperatur an,
                wie wahrscheinlich es ist, dass Sie in dieser Aufgabe 10 Euro verdienen, wenn die jeweilige Temperatur tatsächlich eintritt.
                Sie können die Gewinnwahrscheinlichkeit für jeden Temperatur sowohl in der Tabelle, als auch in der Grafik einsehen.
            </li>
            <li>
                Um Ihre Gewinnwahrscheinlichkeit größtmöglich ausfallen zu lassen, sollten Sie Schätzungen angeben, die hohe Gewinnwahrscheinlichkeiten
                für jene Temperaturen ergeben, die SIe für am wahrscheinlichsten halten. Gleichzeitig sollten die Schätzungen so ausfallen,
                dass Temperaturen, die Sie für unwahrscheinlich halten, niedrige Gewinnchancen zugeordnet werden. Der Mechanismus, der die
                Gewinnwahrscheinlichkeiten berechnet, ist so gestaltet, dass es in Ihrem besten Interesse ist, jene Schätzungen anzugeben,
                die Sie für am besten halten.
            </li>
            <li>
                Um Gewinnwahrscheinlichkeiten zu berechnen, tragen Sie Schätzungen zu den jeweiligen Temperaturen ein und klicken Sie anschließend auf
                'Gewinnwahrscheinlichkeit berechnen'. Sollten Sie mit Ihrer Schätzung unzufrieden sein, können Sie diese ändern und die
                Gewinnwahrscheinlichkeit erneut berechnen.
            </li>
        </ol>
              <button id="closeInstructions" type="button" class="btn-outline-light btn">
              Instruktionen ausblenden
              </button>
          </div>
      </div>
    </div>

<!-- Weather Forecast Viz Modal -->
    <div id="weatherModal" class="modal" style="backdrop-filter: blur(10px);">
      <!-- Modal content -->
      <div class="card mx-auto mb-3 w-75">
          <h5 class="card-header">Wetterbericht</h5>
          <div class="card-body">
              <figure class="highcharts-figure">
                  <div id="weather_viz"></div>
              </figure>
              <button id="closeWeather" type="button" class="btn-outline-primary btn next">
              Wetterbericht ausblenden
              </button>
          </div>
      </div>
    </div>

<br><br>

    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description"></p>
    </figure>

<br><br>

    <div id="table-wrapper">
        <div id="table-scroll">
            <table class="table table-highlight table-hover">
                <tr>
                    <th>Ihre geschätzte Eintrittswahrscheinlichkeit</th>
                    {% for field in form %}
                    <td> {{field}} </td> <!-- id is set as "id_prob[number]" -->
                    {% endfor %}
                </tr>
                <tr>
                    <th>Temperatur</th>
                    {% for field in form %}
                    <td style="text-align:center" id="temperature_{{field.label}}"> {{field.label}}°C </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Ihre Gewinnchance</th>
                    {% for field in form %}
                    <td style="text-align:center" id="winprob_{{field.label}}">  </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>



<br><br>

<!-- Buttons -->
    <button type="button" onclick="" id="pre_BSR_weather" class="btn-outline-primary btn">Wetterbericht einblenden</button>
    <button id="openInstructions" type="button" class="btn-outline-primary btn">Instruktionen anzeigen</button>
    <input onclick="change();calculate();displayChart()" type="button" id="calcButton" class ="btn-outline-primary btn" value="Gewinnwahrscheinlichkeit berechnen"></input>
    <button id="BSR_next" class="btn-outline-success btn" style="display:none">Weiter</button>


{% endblock %}
