{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'BSR/js/buttons.js' %}"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'global/js/weather_viz.js' %}"></script>
    <script src="{% static 'BSR/js/bsr_instructions.js' %}"></script>
{% endblock %}


{% block styles %}
{% endblock %}

{% block content %}

<!-- Tab navigation -->
    <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

        <li class="nav-item" >
            <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Einführung </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> Beispiel & Spielregeln </a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> Verdienst </a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" id="part4-tab" data-toggle="tab" href="#part4" role="tab" aria-controls="part4" onclick="topFunction()"> Verständnisfragen </a>
        </li>
    </ul>

<br>
<br>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">

<!-- Part 1: Einführung (no back button) -->
    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Einleitung </h3>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <p>
                    Diese Aufgabe ist der letzten Aufgabe relativ ähnlich und bezieht sich auf denselben Wetterbericht,
                    der Ihnen zuletzt dargestellt wurde. Und wieder möchten wir Sie bitten abzuschätzen, welche
                    Temperaturen am Sonntag, also 9 Tage nach der letzten Ihnen bekannten Temperatur, eintreten könnte.
                </p>
                <p class="lead">
                    Dieses Mal fragen wir Sie dabei explizit, welche Temperaturen Sie für wie wahrscheinlich halten.
                </p>
                <p class="text-info"> Überblick: </p>
                <ul>
                    <li>Sie schätzen welchen Temperaturen Sie für wahrscheinlich halten.</li>
                    <li>Sie schätzen für wie wahrscheinlich Sie die jeweiligen Temperaturen halten.</li>
                    <li>Am Ende der Umfrage zeigen wir Ihnen auf welchen Ort und auf welche Zeit sich der Wetterbericht
                    bezieht. Außerdem zeigen wir Ihnen, welche Temperatur tatsächlich eingetreten ist.</li>
                    <li>Bis dahin gilt: je besser Ihre Schätzungen, desto höher die Chance {{ Constants.prize_payoff }}
                        Euro zu gewinnen.</li>
                    <li>Gegeben Ihrer Einschätzung zur Temperatur im gesuchten Zeitraum maximieren Sie Ihre Gewinnchance,
                    wenn Sie ehrliche Angaben machen.</li>
                </ul>
                <p>
                    Auf der folgenden Seite (<a class="text-primary">Beispiel & Spielregeln</a>) stellen wir die
                    Entscheidungssituation nach und erklären diese. Außerdem stellen wir Ihnen erste Verständnisfragen.
                    Diese müssen Sie richtig beantworten, um die vollständigen Erklärungen sehen zu können.
                </p>
                <p>
                    Sobald Sie die Erklärungen vollständig gelesen haben, können Sie sich auf der Seite
                    <a class="text-primary">Verdienst</a> anschauen, wie genau Ihre Entscheidungen in dieser Aufgabe
                    Ihren Verdienst beeinflussen.
                </p>
                <p>
                    Zum Schluss müssen Sie auf der Seite <a class="text-primary">Verständnisfragen</a> X weitere Fragen
                    richtig beantworten. Im Anschluss daran können Sie mit der richtigen Entscheidung beginnen.
                </p>
            </div>
        </div>

        <br><br>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn next float-right">Verstanden</button>
    </div>

<!-- Part 2: Beispiel & Spielregeln -->
    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

        <div class="bg-transparent mainheader">
            <h3> Beispiel & Spielregeln </h3>
        </div>
        <br>
        <p class="lead">
            Diese Aufgabe besteht aus zwei Schritten. Im ersten Schritt müssen Sie entscheiden, bei welchen
            Temperaturen Sie es für möglich halten, dass Sie an dem besagten Sonntag eintreten. Im zweiten
            Schritt entscheiden Sie dann, für wie wahrscheinlich Sie die Temperaturen jeweils halten.
        </p>
        <p >
            Während Ihrer Entscheidung werden Sie auf Ihrem Bildschirm eine Menüleiste mit vier Seiten sehen. Hier finden
            Sie einen Beispielhaften Bildschirm, der Ihnen die Menüpunkte, die Entscheidungen sowie die dazugehörigen
            Erklärungen darstellt. Das Beispiel sieht der wirklichen Entscheidung sehr ähnlich.
        </p>

        <div class="container clearfix border-left border-primary w-75">
            <div class="card ">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="limits_tab" data-toggle="tab" href="#limits" role="tab" aria-controls="limits" aria-selected="true">Schritt 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" id="choice_tab" data-toggle="tab" href="#choice" role="tab" aria-controls="choice" aria-selected="false">Schritt 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" id="viz_tab" data-toggle="tab" href="#viz" role="tab" aria-controls="viz" aria-selected="false">Veranschaulichung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weather_tab" data-toggle="tab" href="#weather" role="tab" aria-controls="weather" aria-selected="false">Wetterbericht</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">
                    <div class="tab-content" id="myTabContent">

                        <!-- Limits Tab -->
                        <div class="tab-pane fade show active" id="limits" role="tabpanel" aria-labelledby="limits_tab">
                            <p>
                                Im ersten Schritt stellen wir Ihnen die folgenden zwei Fragen: <br><br>
                            </p>
                            <div class="container clearfix border-left border-primary">
                                <div class="input-group mb-4">
                                    <label for="test_minTemp">
                                        <p class="font-italic text-secondary">Was ist die niedrigste Temperatur, die Ihrer Meinung nach gerade so noch wahrscheinlich ist?</p>
                                    </label>
                                    <input type="number" name="test_minTemp" id="test_minTemp" class="form-control" placeholder="">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">°C</div>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <label for="test_maxTemp">
                                        <p class="font-italic text-secondary">Was ist die höchste Temperatur, die Ihrer Meinung nach gerade so noch wahrscheinlich ist?</p>
                                    </label>
                                    <input type="number" name="test_minTemp" id="test_maxTemp" class="form-control" placeholder="">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">°C</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-outline-secondary btn-sm float-right btn" onclick="validateMinMax();">Prüfen und weiter</button>
                                <button type="button" class="btn-outline-secondary btn-sm float-left btn">Entscheidung ändern</button>
                            </div>
                            <p>
                                <br><br>
                                Sobald Sie beide Fragen beantworten haben, müssen Sie diese prüfen lassen. Dabei wird nur geprüft,
                                dass die von Ihnen angegebene Mindesttemperatur nicht höher als die von Ihnen angegebene
                                Höchsttemperatur. Diese Prüfung ist notwendig, weil Schritt 2 von Ihrer Eingabe abhängt.
                                Dementsprechend hat Ihre Entscheidung in Schritt 1 eine Auswirkung auf Ihre Entscheidung in Schritt 2.
                                Sofern diese Prüfung positiv ausfällt, können Sie dem zweiten Schritt fortfahren.
                                Aber keine Sorge &mdash; sollten Sie mit Ihrer Entscheidung in Schritt 1 unzufrieden sein, können Sie diese ändern.

                            </p>
                            <div class="alert alert-primary" role="alert">
                                <p>
                                    <b>Sie sind dran!</b> Stellen Sie sich vor, Sie halten nur Temperaturen zwischen
                                    (und einschließlich) 42°C und 47°C für möglich und tragen Sie die Werte entsprechend ein.
                                    Klicken Sie anschließend auf <em>Prüfen und weiter</em>.
                                </p>
                            </div>
                            <div class="alert alert-danger" role="alert" style="display:none" id="maxminFalse">
                                <strong>Leider falsch</strong> Versuchen Sie es erneut.
                            </div>
                            <div class="alert alert-success" role="alert" style="display:none" id="maxminTrue">
                                <strong>Sehr gut!</strong> Weiter geht's mit Schritt 2.
                            </div>
                        </div>

                        <!-- Choice Tab -->
                        <div class="tab-pane fade" id="choice" role="tabpanel" aria-labelledby="choice_tab">
                            <p>
                                Im zweiten Schritt müssen Sie für jede Temperatur, die Sie für möglich halten, angeben, für wie
                                wahrscheinlich Sie diese halten. Das bedeutet, dass Sie für jede dargestellte Temperatur einen
                                prozentualen Wert zwischen 0 und 100 angeben müssen. Sollte eine Temperatur, die sie für
                                wahrscheinlich halten, nicht angezeigt werden, so liegt das daran, dass Sie diese im ersten Schritt
                                ausgeschlossen haben. Sollte das der Fall sein, können Sie einfach zu <mark>Schritt 1</mark> zurück-
                                navigieren und ihre Angaben dort ändern.
                            </p>
                            <p>
                                Bitte beachten Sie dass Sie in Summe nicht mehr als 100 Prozentpunkte verteilen können und dass Sie
                                Ihre Gewinnchancen maximieren, wenn Sie genau 100 Prozentpunkte (und nicht weniger) verteilen.
                            </p>
                            <p>
                                Sobald Sie für jede angezeigte Temperatur eine Schätzung eingegeben haben, können Sie Ihre
                                Gewinnchance berechnen. Diese ist abhängig von all Ihren Schätzungen und beschreibt für jede
                                Temperatur einzeln, wie wahrscheinlich es ist, dass Sie {{ Constants.prize_payoff }} Euro gewinnen,
                                wenn diese Temperatur tatsächlich eingetreten ist. Sobald Ihre Gewinnchance für jede Temperatur
                                errechnet wurde, zeigen wir Ihnen diese in der dritten Zeile der Tabelle an.
                                Darüber hinaus stellen wir sie grafisch in Form eines Balkendiagramms unter dem Menüpunkt
                                <mark>Veranschaulichen</mark> dar.
                            </p>
                            <p>
                                Sollten Sie mit Ihren Angaben unzufrieden sein, können Sie Ihre Angaben ändern und die Gewinnchancen
                                erneut berechnen. Erst wenn Sie mit Ihren Angaben in beiden Schritten zufrieden sind sollten Sie auf
                                <mark>Absenden</mark> klicken. Beachten Sie dabei, dass Sie erst auf <mark>Absenden</mark> klicken können,
                                wenn Sie Ihre Gewinnchancen mindestens ein mal berechnet haben.
                            </p>
                            <p>
                                Der Mechanismus, der Ihre Gewinnchancen anhand Ihrer Angaben berechnet ist genau so gestaltet, dass
                                Sie Ihre Chancen maximieren, wenn Sie für jede Temperatur eine ehrliche Schätzung abgeben.
                            </p>

                            <br><br>
                            <div class="container clearfix border-left border-primary">
                                <div class="tab-pane show active fade" id="choice" role="tabpanel" aria-labelledby="choice_tab">
                                <div id="table-wrapper">
                                    <div class="table-responsive" id="table-scroll">
                                        <table class="table table-highlight table-hover">
                                            <tbody>
                                                <tr id="guessRow">
                                                    <th>Ihre Schätzung</th>
                                                    <td><div class="col-xs-1"><input name="prob42" id="id_prob42" class="form-control" type="number" value="10" min="0" max="100" readonly></div></td>
                                                    <td><div class="col-xs-1"><input name="prob43" id="id_prob43" class="form-control" type="number" value="20" min="0" max="100" readonly></div></td>
                                                    <td><div class="col-xs-1"><input name="prob44" id="id_prob44" class="form-control" type="number" value="30" min="0" max="100" readonly></div></td>
                                                    <td><div class="col-xs-1"><input name="prob45" id="id_prob45" class="form-control" type="number" value="20" min="0" max="100" readonly></div></td>
                                                    <td><div class="col-xs-1"><input name="prob46" id="id_prob46" class="form-control" type="number" value="10" min="0" max="100" readonly></div></td>
                                                    <td><div class="col-xs-1"><input name="prob47" id="id_prob47" class="form-control" type="number" value="30" min="0" max="100"></div></td>
                                                </tr>
                                                <tr id="tempRow">
                                                    <th>Temperatur</th>
                                                    <td>42°C</td><td>43°C</td><td>44°C</td><td>45°C</td><td>46°C</td><td>47°C</td>
                                                </tr>
                                                <tr id="chanceRow">
                                                    <th>Ihre Gewinnchance</th>
                                                    <td><div id="chance2win42">50%</div></td><td><div id="chance2win43">60%</div></td><td><div id="chance2win44">70%</div></td><td><div id="chance2win45">60%</div></td><td><div id="chance2win46">50%</div></td><td><div id="chance2win47"></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                                <button type="button" class="btn-outline-secondary btn-sm float-left btn" onclick="validationGuess();">Gewinnchance berechnen</button>
                                <br><br>
                                <button type="button" class="btn-outline-secondary btn-sm float-right btn">Absenden</button>
                            </div>
                            <br><br>

                            <p>
                                In diesem Beispiel wurde in Schritt 1 eine Mindesttemperatur von 42°C sowie eine Höchttemperatur
                                von 47°C gewählt. Infolgedessen wird in Schritt 2 eine Tabelle mit Temperaturen zwischen (und
                                einschließlich) 42°C und 47°C angezeigt. Außerdem wurde in diesem Beispiel geschätzt, dass die
                                Temperatur von 44°C mit einer Wahrscheinlichkeit von 20% (erste Zeile) eintritt sowie dass die
                                Temperatur von 45°C mit einer Wahrscheinlichkeit von 30% eintritt. Zusammen mit den anderen
                                Angaben für die üblichen Temperaturen konnten die sogenannten Gewinnchancen erechnet werden.
                            </p>
                            <p>
                                In diesem Beispiel glaubt die Person, die diese Angaben gemacht hat, dass die Temperatur von
                                44°C mit einer Wahrscheinlichkeit von 30% eintritt. Zusammen mit den Schätzungen für die anderen
                                Temperaturen ergibt sich daraus eine 70% Chance {{ Constants.prize_payoff }} Euro zu gewinnen,
                                wenn die Temperatur von 44°C tatsächlich eintritt.
                                Ebenso hat die Person eine 50% Chance die {{ Constants.prize_payoff }} Euro zu gewinnen, wenn
                                es nur 42°C werden. Die 42°C treten der Person nach mit einer Wahrscheinnlichkeit von 10% ein.
                            </p>
                            <p>
                                Welche Temperatur am Ende eintritt erfahren Sie am Ende dieser Studie.
                            </p>

                            <div class="alert alert-primary" role="alert">
                                <p>
                                    <b>Sie sind dran!</b> Die Schätzunng, die für die Temperatur von 47°C angegeben wurde
                                    kann nicht stimmen. Tragen Sie die beste Schätzung ein, die (gegeben der Schätzungen
                                    für die anderen Temperaturen) möglich ist. Klicken Sie anschließend auf
                                    <em>Gewinnchance berechnen</em>.
                                </p>
                            </div>
                            <div class="alert alert-danger" role="alert" style="display:none" id="field47False">
                                <strong>Leider falsch</strong> Versuchen Sie es erneut.
                            </div>
                            <div class="alert alert-success" role="alert" style="display:none" id="field47True">
                                <strong>Sehr gut!</strong> Weiter geht's mit der Veranschaulichung.
                            </div>

                        </div>

                        <!-- Viz Tab -->
                        <div class="tab-pane fade" id="viz" role="tabpanel" aria-labelledby="viz_tab">

                            <figure class="highcharts-figure">
                                <div id="example_viz"></div>
                            </figure>

                            <p>
                                Hier stellen wir Ihnen Ihre Entscheidung grafisch dar und zeigen Ihnen
                                anhand eines Balkediagramms für jede Temperatur, wie wahrscheinlich es ist, dass Sie
                                {{ Constants.prize_payoff }} Euro gewinnen, wenn diese tatsächlich eintrifft. Die Daten, die
                                Ihnen hier angezeigt werden, sind dieselben wie in der Tabelle &mdash; sie werden nur anders
                                dargestellt.
                            </p>
                            <p>
                                In diesem Beispiel glaubt die Person, die diese Angaben gemacht hat, dass die Temperatur von
                                44°C mit einer Wahrscheinlichkeit von 30% eintritt. Zusammen mit den Schätzungen für die anderen
                                Temperaturen ergibt sich daraus eine 70% Chance {{ Constants.prize_payoff }} Euro zu gewinnen,
                                wenn die Temperatur von 44°C tatsächlich eintritt.
                                Ebenso hat die Person eine 50% Chance die {{ Constants.prize_payoff }} Euro zu gewinnen, wenn
                                es nur 42°C werden. Die 42°C treten der Person nach mit einer Wahrscheinnlichkeit von 10% ein.
                            </p>
                        </div>

                        <!-- Forecast Tab -->
                        <div class="tab-pane fade" id="weather" role="tabpanel" aria-labelledby="weather_tab">

                            <figure class="highcharts-figure">
                                <div id="weather_viz"></div>
                            </figure>
                            <p>
                                Falls Sie den eben dargestellten Wetterbericht vergessen haben oder falls Sie
                                Ihn sich noch einmal genauer anschauen wollen, können Sie sich diesen hier ansehen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>

        <p class="lead">
            Bitte lesen Sie sich die Erklräungen zusammen mit dem Beispiel sorgfältig durch.
        </p>
        <p>
            Sobald Sie alle Instruktionen gelesen und erste Verständnisfragen beantwortet haben, erscheint ein Button mit
            der Aufschrift <mark>Verstanden</mark>. Klicken Sie auf diesen um fortzufahren klicken. Im Anschluss
            erklären wir Ihnen wie sich diese Aufgabe auf Ihren Verdienst auswirken kann. Danach stellen wir Ihnen weitere
            Verständnisfragen. Sobald Sie diese alle richtig beantwortet haben, können Sie mit der richtigen
            Entscheidung beginnen.
        </p>

        <br><br>
        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn">Zurück</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn float-right" id="nextButton" style="display:none">Verstanden</button>
    </div>

<!-- Part 3: Verdienst -->
    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">

        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Verdienst </h3>
        </div>
        <br>

        <div class="card">
            <div class="card-body">
                <p>
                    Hier steht nochmal was Sie verdienen können.
                </p>
                <p>
                    Weben haben wir erklärt wie Sie es verdienen können.
                </p>
                <p>
                    Jetzt erklären wir, dass es einzig und allein darum geht ehrlich zu antworten: Der Mechanismus,
                    der Ihre Gewinnchancen anhand Ihrer angaben berechnet ist genau so gestaltet, dass
                    Sie Ihre Chancen maximieren, wenn Sie für jede Temperatur eine ehrliche Schätzung abgeben.
                </p>
                <p>
                    Und hier erklären wir vielleicht trotzdem vielleicht wie das zustandekommt.
                </p>
            </div>
        </div>

        <br><br>
        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn ">Zurück</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn float-right">Verstanden</button>
    </div>


<!-- Part 4: Verständnisfragen -->
    <div class="tab-pane" id="part4" role="tabpanel" aria-labelledby="part3-tab">


        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Verständnisfragen </h3>
        </div>
        <br>

        <h5 class=" font-weight-bold mt-3 mb-3">Question 1</h5>
        {% formfields %}

        <br><br>
        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn ">Zurück</button>
        <button class="nexttab btn-outline-primary btn float-right">Weiter</button>
    </div>


</div>


{% endblock %}
