{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
BSR Preselection
{% endblock %}

{% block styles %}
    <link href="{% static 'BSR/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'BSR/css/modal.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'BSR/js/weather_viz.js' %}"></script>
    <script src="{% static 'BSR/js/preBSR.js' %}"></script>
{% endblock %}

{% block content %}

<br><br>

{% formfields %}

<!-- The low max Error Modal -->
    <div id="lowMaxModal" class="modal" style="backdrop-filter: blur(10px);">
      <!-- Modal content -->
      <div class="card mx-auto text-white bg-danger mb-3 w-50">
          <h5 class="card-header">Achtung</h5>
          <div class="card-body">
              <p class="card-text">
                  Die höchste Temperatur, die sie für möglich halten, muss höher sein, als die niedrigste Temperatur, die Sie für möglich halten.
                  Dementsprechend muss die niedrigste Temperatur, die sie für möglich halten, niedriger sein, als die höchste Temperatur, die Sie für möglich halten.
              </p>
              <button id="closeLowMax" type="button" class="btn-outline-light btn">
              Fehlermeldung ausblenden
              </button>
          </div>
      </div>
    </div>

<!-- Weather Forecast Viz Modal -->
    <div id="weatherModal" class="modal" style="backdrop-filter: blur(10px);">
      <!-- Modal content -->
      <div class="card mx-auto mb-3 w-75">
          <h5 class="card-header">Wetterbericht</h5>
          <div class="card-body">
              <figure class="highcharts-figure">
                  <div id="weather_viz"></div>
              </figure>
              <button id="closeWeather" type="button" class="btn-outline-primary btn next">
              Wetterbericht ausblenden
              </button>
          </div>
      </div>
    </div>


<br><br>

<!-- Buttons -->
    <button type="button" onclick="" id="pre_BSR_weather" class="btn-outline-primary btn">Wetterbericht einblenden</button>
    <button type="button" onclick="validation()" id="pre_BSR_validation" class="btn-outline-primary btn">Eingabe prüfen</button>
    <button type="button" onclick="revision()" id="pre_BSR_revision" class="btn-outline-primary btn" style="display:none">Eingabe ändern</button>
    <button onclick="validation()" id="pre_BSR_next" class="btn-success btn" style="display:none">Weiter</button>
{% endblock %}
