{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'BSR/js/buttons.js' %}"></script>
{% endblock %}


{% block styles %}
    <link href="{% static 'BSR/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Tab navigation -->
    <ul class="nav nav-tabs fixed-top navbar-light bg-light justify-content-center " id="myTab" role="tablist">

        <li class="nav-item" >
            <a class="nav-link active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="topFunction()"> Einführung </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2" onclick="topFunction()"> Aufgabe </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction()"> Verständnisfragen </a>
        </li>
    </ul>

<br>
<br>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">

<!-- Part 1 (no back button) -->
    <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Einführung </h3>
        </div>
        <br>
        <div class="card">
            <p class="card-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis et libero et viverra. Fusce et lorem tortor. Donec blandit eleifend auctor. Nulla sed metus sit amet augue mollis faucibus. Maecenas at consequat lorem, vel varius lectus. In at sem ac lectus mollis pulvinar nec feugiat neque. Integer vel tincidunt nunc, vehicula maximus orci. </p>
        </div>

        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn next">Weiter</button>
    </div>

<!-- Part 2 -->
    <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Aufgabe </h3>
        </div>
        <br>

        <div class="card">
            <p class="card-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis et libero et viverra. Fusce et lorem tortor. Donec blandit eleifend auctor. Nulla sed metus sit amet augue mollis faucibus. Maecenas at consequat lorem, vel varius lectus. In at sem ac lectus mollis pulvinar nec feugiat neque. Integer vel tincidunt nunc, vehicula maximus orci. </p>
        </div>

        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn back">Zurück</button>
        <button onclick="topFunction()" type="button" class="nexttab btn-outline-primary btn next">Weiter</button>
    </div>

<!-- Part 3 -->
    <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">


        <div class="bg-transparent mainheader" style="text-align:center">
            <h3 class="card-title font-weight-bold"> Verständnisfragen </h3>
        </div>
        <br>

        <h5 class=" font-weight-bold mt-3 mb-3">Question 1</h5>
        {% formfields %}


        <button onclick="topFunction()" type="button" class="prevtab btn-outline-primary btn back">Zurück</button>
        <button class="nexttab btn-outline-primary btn next">Weiter</button>
    </div>


</div>


{% endblock %}
