{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Tatsächlich eingetretenes Wetter
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static 'global/js/revelation_viz.js' %}"></script>
{% endblock %}

{% block content %}

<body onload="fillText()">

    <br><br>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ participant.vars.location }} Oktober 2020</h5>
            <h6 class="card-subtitle mb-2 text-muted">Am <b>Sonntag</b>, dem 18. Oktober um 14:00 Uhr wurden hier
                <b><span id="revelation"></span>°C</b> gemessen.
            </h6>
            <figure class="highcharts-figure">
                <div id="weather_viz"></div>
            </figure>
            <p class="card-text">Der Wetterbericht den wir Ihnen gezeigt haben und auf dem Ihre Entscheidungen sowie
                Ihre möglichen Auszahlungen basieren, bezieht sich auf das Wetter in {{ participant.vars.location }}
                    {% if participant.vars.location == "Ilomantsi" %}
                        (Finnland)
                    {% else %}
                        (Saarland)
                    {% endif %}
                im Oktober 2020.
            </p>
            <p class="card-text">
            </p>
            <p class="card-text">
                <em> Die Messdaten, die dieser Studie zugrunde liegen und für Ihre Auszahlung relevant sind, finden Sie
                {% if participant.vars.location == "Ilomantsi" %}
                    <a href="https://kachelmannwetter.com/de/messwerte/ostfinnland/temperatur/20201019-1100z.html#obs-detail-029390-72h" target="_blank">hier</a> und
                    <a href="https://kachelmannwetter.com/de/messwerte/ostfinnland/temperatur/20201009-1100z.html#obs-detail-029390-72h" target="_blank">hier</a>.
                {% else %}
                    <a href="https://kachelmannwetter.com/de/messwerte/63-e-491-n/temperatur/20201009-1100z.html#obs-detail-J728-72h" target="_blank">hier</a> und
                    <a href="https://kachelmannwetter.com/de/messwerte/63-e-491-n/temperatur/20201019-1100z.html#obs-detail-J728-72h" target="_blank">hier</a>.
                {% endif %}
                </em>
            </p>
            <p class="card-text">Auf der folgenden Seite zeigen wir Ihnen, wie sich dieses Ergebnis auf Ihre Auszahlung auswirkt.
            </p>
        </div>
    </div>

    <br><br>

    <button id="BSR_next" class="btn-outline-primary btn float-right">
        Weiter
    </button>

</body>

{% endblock %}