{% extends "otree/Page.html" %}
{% load otree static %}

{% block global_scripts  %}
<!-- disable ENTER key from submitting the form-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Disable Enter Key...
        // ... using jQuery
        $(document).keypress(
          function(event){
            if (event.which == '13') {
              event.preventDefault();
            }
        });
    </script>
{% endblock %}

{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
<img src="{% static 'initialize/images/cool-background.svg' %}" id="bg" alt=""/>
</body>
{% endblock %}

