{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'global/js/weather_viz.js' %}"></script>
{% endblock %}

{% block content %}
<body onload="fillText()">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title display-4">Wie wird das Wetter in 9 Tagen?</h5>
            <h6 class="card-subtitle mb-5 text-muted">Was schätzen Sie?</h6>

            {% if player.round_number == 1 and treatment_displayed == "False" %}
                <p class="card-text">
                    Die Temperaturen
                    <a style="color:#5DE58E">zwischen Mittwoch und Freitag (also im grün gefärbten Bereich)</a>
                    betrugen jeweils um 14:00 Uhr (MEZ)<sup>1</sup>
                    <span id="report0"></span>°C, <span id="report1"></span>°C bzw. <span id="report2"></span>°C.
                </p>
                <p class="card-text">
                    Ohne zu wissen, auf welchen Ort und Zeitpunkt sich das oben dargestellte Wetter bezieht,
                    müssen Sie für die folgenden Aufgaben abschätzen, welche Temperaturbereiche Sie 9 Tage später,
                    <a style="color:#C582FF">am Sonntag (also im lila gefärbten Bereich)</a>,
                    am selben Ort und zur gleichen Tageszeit für wahrscheinlich halten.
                </p>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="lead">
                        Bitte beachten Sie, dass die Grafik nun auch eine Wettervorhersage enthält.
                    </h4>
                    <hr>
                    <p>
                        Alle Angaben (also sowohl gemessene als auch vorhergesagte Temperaturen) beziehen sich auf dieselbe
                        Tageszeit: 14:00 Uhr (MEZ).
                    </p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <figure class="highcharts-figure">
                <div id="weather_viz"></div>
            </figure>
            <br>

            <p class="lead">
                Was schätzen Sie, welche Temperatur wurde <a style="color:#C582FF">am Sonntag</a> um 14:00 Uhr
                MEZ<sup>1</sup> gemessen...
            </p>

            <table class="table table-hover">

                <tbody>
                <tr>
                    <td>
                        <label for="id_Q1">
                        ...wenn Überschätzen drei Mal so teuer wie Unterschätzen ist?
                        </label>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="number" name="Q1" id="id_Q1" class="form-control" step=".1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">°C</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_Q2">
                        ...wenn Überschätzen genau so teuer wie Unterschätzen ist?
                        </label>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="number" name="Q2" id="id_Q2" class="form-control" step=".1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">°C</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_Q3">
                        ...wenn Unterschätzen drei Mal so teuer wie Überschätzen ist?
                        </label>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="number" name="Q3" id="id_Q3" class="form-control" step=".1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">°C</div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-light text-secondary">
            <p class="card-text">
                Am Ende der Umfrage werden wir sowohl den Ort, das Datum sowie die Quelle und die am Sonntag
                eingetretene Temperatur preisgeben.
            </p>
            <p>
                <sup>1</sup> Die Zeitangabe MEZ bedeutet nicht automatisch, dass es sich um einen Ort in der MEZ handelt.
            </p>
        </div>
    </div>

    <br><br>

    <button type="submit" id="submit_button" class="btn-outline-success btn float-right">Absenden</button>
</body>

{% endblock %}


