{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="{% static 'global/js/weather_viz.js' %}"></script>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title display-4">Instruktionen</h5>
        <h6 class="card-subtitle mb-2 text-muted">Multipe Point Prediction</h6>
        <br>
        <p class="card-text">
            Auch auf der nächsten Seite bitten wir Sie Schätzungen zur Temperatur an dem besagten Sonntag einzugeben. Dabei
            können Sie {{ Constants.prize_payoff }} Euro zu gewinnen. Je besser Ihre Schätzungen sind, desto wahrscheinlicher
            ist es, dass Sie die {{ Constants.prize_payoff }} Euro gewinnen.
            Um genauer zu sein werden wir Sie nach drei Schätzungen fragen. Aus diesen drei Schätzungen errechnet sich dann
            Ihre Gewinnchance.
        </p>

        <p class="card-text">
            Generell gilt, dass Ihre Gewinnchance umso höher sind, je dichter Ihre Schätzungen an der tatsächlich
            gemessenen Temperatur liegen. Dementsprechend kann man sagen, dass es Sie etwas <em>kostet</em>, wenn Sie
            sich verschätzen. Wie hoch diese kosten sind, hängt dabei davon ab, ob Sie die tatsächlich gemessene
            Temperatur über- oder unterschätzen. In den drei Schätzungen, die Sie abgeben varriert, ob über- oder
            unterschätzen teurer ist oder ob es keinen Unterschied macht ob Sie nun über oder unter der tatsächlich
            gemessenen Temperatur liegen.
        </p>

        <p class="card-text">
            Ihre Entscheidungssituation wird dabei wie folgt  aussehen: <br><br>
        </p>

        <div class="container clearfix border-left border-primary w-75">

            <figure class="highcharts-figure">
                <div id="weather_viz"></div>
            </figure>

            <p>
                <br> Was schätzen Sie, welche Temperatur wurde <a style="color:#C582FF">am Sonntag</a> gemessen...
            </p>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        <label for="id_Q1"><small><em>
                        ...wenn überschätzen dreimal so teuer wie unterschätzen ist?
                        </em></small></label>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="number" name="Q1" id="id_Q1" class="form-control" step=".1" value="45.5" readonly>
                            <div class="input-group-prepend">
                                <div class="input-group-text">°C</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_Q2"><small><em>
                        ...wenn überschätzen genauso teuer wie unterschätzen ist?
                        </em></small></label>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="number" name="Q2" id="id_Q2" class="form-control" step=".1" value="47.3" readonly>
                            <div class="input-group-prepend">
                                <div class="input-group-text">°C</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="id_Q3"><small><em>
                        ...wenn unterschätzen dreimal so teuer wie überschätzen ist?
                        </em></small></label>
                    </td>
                    <td>
                        <div class="input-group">
                            <input type="number" name="Q3" id="id_Q3" class="form-control" step=".1" value="49.1" readonly>
                            <div class="input-group-prepend">
                                <div class="input-group-text">°C</div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>

        <p class="card-text"><br><br>
            Nachdem Sie Ihre Schätzungen eingegeben haben, bestimmen wir die Summe der Kosten. Je niedirger diese Summe
            ist, desto wahrscheinlicher ist es, dass Sie {{ Constants.prize_payoff }} Euro gewinnen können.
        </p>
        <p class="card-text lead">
            Sie werden diese Entscheidungssituation zweimal durchlaufen. In der ersten Runde sehen Sie den oben
            dargestellten Wetterbericht. In der zweiten Runde sehen Sie zusätzlich eine (echte) Wettervorhersage.
        </p>
        <p class="card-text">
            Am Ende dieser
            Umfrage werden wir sowohl den Ort, als auch das entsprechende Datum sowie die Quelle und die am Sonntag
            eingetretene Temperatur preisgeben. Darüber hinaus werden wir Ihre Schätzungen sowie die Gewinnchancen
            in allen Runden anzeigen und zufällig bestimmen, welche Runde für Ihre Auszahlung relevant ist.
        </p>
    </div>
</div>

<br><br>
<button type="submit" id="submit_button" class="btn-outline-primary btn float-right">Verstanden</button>
{% endblock %}
